* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: linear-gradient(155deg, #101026f0 0%, #37a2c1 100%);
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 0 solid #ffffff5e;
  border-bottom-width: 1px;
}

.nav-container {
  margin: 0rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-width {
  width: 3.8rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 0.2rem;
  align-items: center;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s;
  padding: 1.8rem 2rem;
  border-radius: 95px;
}

.nav-menu a:hover,
.nav-menu a.active {
  background: rgba(255, 255, 255, 0.2);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 3px 0;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 70px;
    left: -100%;
    flex-direction: column;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    width: 100%;
    padding: 2rem;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: flex;
  }
}
